.saveButton {
    background-color: #BF0000;
}
.deleteButton {
    background-color: #BF0000;
}
.deleteButton:hover{
    background-color: black;
    color: white;
}
.commentButton {
    background-color: #BF0000;  
}
.commentButton:hover {
    background-color: black;
    color: white;
}
#scrapeButton {
    background-color: #BF0000;
}

#scrapeButton:hover {
    background-color: black
}
#savedButton {
    background-color: #BF0000;
}
#savedButton:hover {
    background-color: black
}

.saveButton:hover {
    background-color: black
}


#clearButton {
    background-color: #BF0000;
}
#clearButton:hover {
    background-color: black
}

#articleTitle {
    font-weight: 900;
    font-size: 2rem;
    background-color: #BF0000;
    color: white;
}

#kcSportsPic {
    height: 200px;
    margin: auto;
    width: 100%;
}

#navContainer {
    margin: auto;
    margin-left: 2rem;
    width: 100%;
    
}

.commentDiv {
    margin-top: 4rem;
}

#commentP {
    display: inline-block
}

.del {
    margin-left: 2rem;
    background-color: #BF0000;
}

.del:hover{
    background-color: black;
    color: white;
}

.viewArticleButton {
    background-color: #BF0000;
}

.viewArticleButton:hover {
    background-color: black;
}

